<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="首頁收遠征" value="100,100,500,500" />
		<add key="出擊" value="600,600,300,300" />
		<add key="遠征" value="600,600,300,300" />
		<add key="遠征5" value="600,600,300,300" />
		<add key="補燃彈" value="600,600,300,300" />
		<add key="派遣" value="600,600,300,300" />
		<add key="選南方海域" value="600,600,300,300" />
		<add key="選第三艦隊" value="600,600,300,300" />
		<add key="東急1" value="600,600,300,300" />
		<add key="補燃彈" value="600,600,300,300" />
		<add key="派遣" value="600,600,300,300" />
		<add key="選第四艦隊" value="600,600,300,300" />
		<add key="東急2" value="600,600,300,300" />
		<add key="補燃彈" value="600,600,300,300" />
		<add key="派遣" value="600,600,300,300" />
	</appSettings>
</configuration>